Payroll {
  font-size: 80%;
  margin: 0.5em;
  font-family: Verdana;
  display: block;
}
User1,
User2,
User3,
User4 {
  display: flex;
  border: 1px solid silver;
  margin: 0.7em;
  padding: 0.3em;
  background-color: whitesmoke;
}
title {
  display: block;
  font-weight: bolder;
  text-align: center;
  font-size: 30px;
  background-color: blue;
  color: white;
}
signature {
  display: flex;
  font-weight: bolder;
  text-align: right;
  font-size: 30px;
  background-color: rgb(100,150,200);
  color: white;
}
name,
EmployeeID,
Contact,
salary {
  display: flex;
  text-align: center;
}
name {
  color: green;
  text-decoration: underline;
  font-weight: bolder;
  font-size: 20px;
}
EmployeeID {
  color: green;
}
Contact {
  color: brown;
}
salary {
  color: blue;
}
